body {
      font-family:verdana,arial,sans-serif;
      font-size:10pt;
      margin:10px;
      background-image:url('/bg.jpg');
    }
textarea {
          font-size: 10pt;
          font-family:Comic Sans MS
         }
input {
          font-family:Comic Sans MS
         } 

div {
  font-size: 12pt;
  font-family:Comic Sans MS
} 


#header {
  margin-bottom: 20px;
}

#photo {
  float: left;
  width: 500px;
}

#comment-box {
  width: 500px;
}

#all-comments {
  margin-left: 500px;
  max-width: 600px;
  overflow: hidden;
}

#comments {
  width: 400px;
}